* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .App {
    width: 800px;
}

#root {
    display: flex;
    justify-content: center;
} */


html, body {
	margin: 0;
	height: 100%;
  }
  
  body {
	background-color: #ffffff;
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
  }
  
  #app {
	position: relative;
	height: 100%;
	width: 100%;
	padding-top: 10px;
  }
  
  #app div {
	width: 100%;
  }
  
  #app div div {
	height: 100%;
  }
  
  #app div div div {
	position: relative;
	height: auto;
  }
  
  h1, h2 {
	margin-left: 5%;
	margin-right: 5%;
  }
  
  ul {
	list-style-type: none;
	padding: 0;
  }
  
  label {
	display: block;
	margin: 20px;
	font-size: 30px;
	font-weight: bold;
  }
  
  nav a {
	margin:12px;
	text-transform: uppercase;
	font-size: 10px;
  }
  
	.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
	}

  button {
	-webkit-transition-duration: 0.1s; /* Safari */
	transition-duration: 0.1s;
	background-color: #009f52;
	border-radius: 8px;
	border-bottom: 4px solid #001f10;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-family: 'Oxygen', sans-serif;
	letter-spacing: 2px;
	margin: 1em;
  }
  
  button:hover {
	background-color: #9ef1c9;
	border: none;
	border-radius: 8px;
	border-bottom: 4px solid #002e18;
	color: rgb(41, 41, 41);
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-family: 'Oxygen', sans-serif;
	letter-spacing: 2px;
  }
  
  button:active {
	background-color: #52805c;
	border: none;
	border-radius: 8px;
	border-bottom: 4px solid #2a5a3b;
	color: #CCC;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-family: 'Oxygen', sans-serif;
	letter-spacing: 2px;
  }
  
  img {
	max-width: 90%;
	max-height: 340px;
	top: 5%;
	left: 5%;
  }
